@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    filter: invert(100%);
}

body {
    @apply bg-gray-50;
}

input[type="date"] {
    width: 105px;

    @apply border rounded px-1;

    &::-webkit-calendar-picker-indicator {
        display: none;
    }
}
